*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft';
    overflow: hidden;
}

@font-face {
  font-family: 'Minecraft';
  src: url("Minecraft-Regular.otf") format("opentype");
  
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.back-video{
    position: absolute;
    scale: 1.1;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
}

.center{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.center-h{ 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}

.text{
    text-align: center;
    color:#fff;
}

.h1{
    font-size: 70pt;
}


@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}




*:focus{
  outline:0;
}
.btn{
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  text-decoration: none;
  background:#bfa200;
  font-size: 15pt;
  border:2px solid #bfa200;
  font-family: Minecraft, sans-serif;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  text-align: center;
  padding: 0.6rem 1.4rem;
  margin: -0.5rem;
}
.btn:hover{
  background: #836f00;
  border:2px solid #836f00;
}
.btn.simple{
  padding: 4px 0;
  border:none;
  border-bottom: 1px solid transparent;
}
.btn.simple:hover{
  border-bottom:1px solid rgba(0,0,0,0.3);
  background: transparent;
}
.btn.rounded{
  border-radius: 6px;
}
.btn.super-rounded{
  border-radius: 45px;
}
.btn.circle{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  line-height: 1;
  box-sizing: border-box;
  padding: 1.3em 0;
}
.btn.circle.medium{
  width: 6rem;
  height: 6rem;
  padding: 1.8em 0;
}
.btn.circle.medium{
  width: 6rem;
  height: 6rem;
  padding: 1.8em 0;
}
.btn.circle.big{
  width: 7rem;
  height: 7rem;
  padding: 2.45em 0;
}
.btn.circle:hover{
  transform: rotate(180deg);
}
.btn.medium{
  padding: 1.15rem 2.15rem;
}
.btn.big{
  padding: 1.5rem 2.5rem;
}
.btn.black,.btn.dark-blue,.btn.blue,.btn.green{
  border:none;
  color: #fff;
}
.btn.green{
  background: #27ae60;
}
.btn.green:hover{
  background:#2ecc71;
}
.btn.blue{
  background: #2980b9;
}
.btn.blue:hover{
  background: #3498db;
}
.btn.dark-blue{
  background: #2c3e50;
}
.btn.dark-blue:hover{
  background: #34495e;
}
.btn.black{
  background: #000;
}
.btn.black:hover{
  background: #222;
}
              